<h2>Bonjour Elena Bellu</h2>

<p>Vous avez reçu un message de <strong>{{contact_first_name}} {{contact_last_name}}</strong>provenant de votre site Gold Roger Pizzeria</p>



{% if user is null %}
        <p>{{ 'Ce contact est un simple visiteur'}}</p>
    {% else %}
        <p>{{ user ? 'Ce contact est l\' un de vos utilisateurs' }}</p>
{% endif %}

<p>Voici ses cordonnées : </p>
<ul>
    <li><strong>Email</strong> : {{contact_email}}</li>
    {% if contact_phone is not empty %}
    <li><strong>Phone</strong> : {{contact_phone}}</li>
    {% endif %}
</ul>

{% if contact_phone is empty %}
    <p><strong>{{contact_first_name|capitalize}}</strong> n'a pas laissé de numéro de téléphone.</p>
{% endif %}

<p><u>Voici le message</u> : </p>
<p>{{contact_message|nl2br}}</p>

<p>Ciao ciao pirata! &#x1F60E;</p>