{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block description %}Bienvenue à la pizzeria Gold Roger, où la tradition italienne rencontre la passion de la bonne cuisine. Découvrez nos pizzas préparées avec des ingrédients frais et authentiques. Venez nous rendre visite pour une expérience culinaire inoubliable!{% endblock %}


{% block main %}
    {# Image d'accueil #}
<main>
        <header class="welcome-header">
    
            {# <div>
                <h3 class="titre text-danger col-4 text-center w-100 my-3">GOLD ROGER PIZZERIA</h3>
            </div> #}
            
            <div class="pt-5 d-flex flex-column rounded-pill" style="height:80vh">
                <div class="d-flex justify-content-center align-items-center mt-5">
                    <a
                    href="{{path('visitor_booking_create')}}"
                    class="reserveztable mt-5 text-center btn btn-lg btn-outline-dark" href="reserveztable">
                    <h1>Réserver une table</h1>
                    </a>
                </div>
            </div>
        
        </header>
        


    {# Carousel- Nous sommes qui #}
    <section>
        <div class="container">
            <div class="row">
                <span class="text-center">
                <div class="float-start  col-md-6 col-lg-5  mr-6 mt-5">
                    <div id="carouselNousSommesQui" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria1.jpg') }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria2.jpg') }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria3.jpg') }}" class="d-block w-100" alt="...">
                                </div>

                                <div class="carousel-item active">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria4.jpg') }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria5.jpg') }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria6.jpg') }}" class="d-block w-100" alt="...">
                                </div>

                                <div class="carousel-item active">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria7.jpg') }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria8.jpg') }}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/visitor/carousel/Pizzeria6.jpg') }}" class="d-block w-100" alt="...">
                                </div>
                            </div>
                    </div>
                </div>

                    <span class="ml-5 p-5 mt-5">
                        <p class="title">
                            <h1>Nous sommes qui</h1>
                        </p>
                        <p>
                            Bienvenue à la Pizzeria Gold Roger, située au cœur du centre historique médiéval d'Iglesias, à quelques pas des plus belles plages de la Méditerranée. 
                        </p>
                        <p>
                            À la barre de la Pizzeria Gold Roger se trouvent nos deux talentueux pizzaiolos : Mattia B. et Luca. Mattia B. est spécialisé dans les pizzas classiques, tandis que Luca excelle dans les pizzas gourmet, offrant une expérience culinaire exceptionnelle à chaque bouchée.
                        </p>
                        <p>
                            Notre équipage est également composé de Riccardo, notre capitaine, et de Roberta et Mattia C., qui sont chargés de désaltérer les passagers de notre navire avec une sélection raffinée de bières artisanales à la pression.
                        </p>
                        <p>
                            La Pizzeria Gold Roger vous accueille dans son cadre rustique chaleureux ou vous invite à vous installer aux tables de notre terrasse située dans la pittoresque rue Cavour, imprégnée d'un charme ancien et captivant.
                        </p>
                        <p>
                            Venez découvrir l'authenticité et le goût unique de nos pizzas tout en profitant de l'atmosphère historique et envoûtante de notre belle ville d'Iglesias.
                        </p>   
                    </span>
                </span>
            </div>
        </div>
    </section>

    {# Pizza description #}
    <section>
        <div class= "container mt-5 text-center mb-5">
            <div class="row">
                <div class=" col-md-6 col-lg-5 mt-5 order-md-2">
                    <img src="{{ asset('images/visitor/menu/bufala.jpg') }}" class="pizzaPresentazione img-fluid">
                </div>

                <div class="col-md-6 col-lg-7 order-md-1 mt-5 d-flex flex-column justify-content-evenly align-items-center">
                    <div>
                        <h1>Notre pizza</h1>   
                    </div>
                    <div>
                        <p>
                        Chez notre pizzeria, nous accordons une attention particulière à la qualité des ingrédients que nous utilisons pour créer nos pizzas. Nos pâtes sont laissées à lever pendant jusqu'à 72 heures, garantissant une texture légère et aérée. Nous utilisons le célèbre pomodoro San Marzano DOP de l'Agro Sarnese Nocerino ainsi que de la farine Capri, pour une expérience authentique et savoureuse à chaque bouchée. Découvrez le goût de l'Italie dans chacune de nos pizzas, préparées avec amour et savoir-faire.
                        </p>  
                    </div>
                    <div>
                        <a 
                        href="{{path('visitor_menu_index')}}"
                        class="btn btn-lg btn-success">Consulter le menu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

    {# Avis  #}
    {# <section id="avis-section">
        <h1 class="text-center my-5 display-5">Les recommandations de nos clients</h1>

        <div class="container">
            <div class="row">

            </div>
        </div>
    </section> #}
</main>

{% endblock %}

    {# Footer #}  
{% block footer %}
            
        <footer class="footer text-dark text-center py-2">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                    {# Mentions légales #}
                        <p class="cursor-pointer"><a href="" class="text-dark text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-regular fa-copyright"></i>Gold Roger Pizzeria - Mentions légales</a></p>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Mentions légales</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        Éditeur du site
                                                <p>
                                                Nom de la pizzeria : Gold Roger Pizzeria<br>
                                                Adresse : Via Camillo Benso Conte di Cavour 16/18, 09016 Iglesias, Italie<br>
                                                Téléphone : +39 370 120 9376<br>
                                                Adresse e-mail : goldrogerpizzeria@gmail.com<br>
                                                Numéro SIRET : 123 456 789 00010<br>
                                                RCS : Paris B 123 456 789<br>
                                                Directeur de la publication : Elena Bellu<br>
                                                </p>
                                                <p>
                                                Hébergeur du site<br>

                                                Nom de l'hébergeur : GRP<br>
                                                Adresse : Via Camillo Benso Conte di Cavour 16/18, 09016 Iglesias, Italie<br>
                                                Téléphone : +39 370 120 9376<br>
                                                </p>
                                                <p>
                                                Protection des données personnelles<br>

                                                Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée, vous disposez d'un droit d'accès, de rectification et de suppression des données personnelles vous concernant. Pour exercer ce droit, vous pouvez nous contacter à l'adresse suivante : goldrogerpizzeria@gmail.com.
                                                </p>

                                                <p>
                                                Propriété intellectuelle<br>

                                                Tous les contenus présents sur ce site, incluant, de façon non limitative, les graphismes, images, textes, vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété exclusive de la société Gold Roger Pizzeria, à l'exception des marques, logos ou contenus appartenant à d'autres sociétés partenaires ou auteurs.
                                                </p>
                                                <p>
                                                Finalités du traitement<br>

                                                Les données personnelles collectées sont utilisées pour :

                                                La gestion des réservations de tables<br>
                                                La communication avec les clients<br>
                                                L'amélioration des services proposés<br>
                                                La gestion des commentaires et des avis laissés par les clients<br>
                                                </p>
                                                <p>
                                                Conditions d'utilisation<br>

                                                L'utilisation de ce site est soumise aux conditions générales d'utilisation détaillées dans les sections appropriées. En utilisant ce site, vous acceptez ces conditions sans réserve.
                                                </p>
                                                <p>
                                                Responsabilité<br>

                                                Gold Roger Pizzeria décline toute responsabilité quant aux éventuelles interruptions du site et à ses conséquences.
                                                </p>
                                                <p>
                                                Contact<br>

                                                Pour toute question, vous pouvez nous contacter par e-mail à goldrogerpizzeria@gmail.com ou par téléphone au +39 370 120 9376.
                                                </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                                    </div>
                                    </div>
                                </div>
                                </div>
                    </div>
                    {# Facebook-Instagram #}
                    <div class="col-md-6">
                        <a class="text-dark" target="_blank" href="{{settingService.setting.instagram}}">
                            <i class="icon-soc fa-brands fa-instagram"></i>
                        </a>
                        <a class="text-dark" target="_blank" href="{{settingService.setting.facebook}}">
                            <i class="icon-soc fa-brands fa-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
{% endblock %}







